<!-- aqui defino el formulario para crear una importación. Utilizo un bucle para mostrar los campos del formulario y manejar la carga de imágenes. -->
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}



    <div class="mb-3">
      <label for="" class="form-label">{{ campo.label }}</label>

      <br>


      {% if campo.field.widget.input_type == 'file' and campo.value %}
      <img src="{{MEDIA_URL}}/iamgenes/{{campo.value}}" width="100" alt="">

      {% endif %}

      <input 
      type="{{ campo.field.widget.input_type}}"
      class="form-control" 
      name="{{ campo.name }}" 
      id="" 
      aria-describedby="helpId" 
      placeholder="{{ campo.label }}"
      value="{{ campo.value | default:'' }}"
      
      >
      
    </div>
    <div class="col-12 help-text"> {{ campo.errors }}</div>
  {% endfor %}  

  <input name="" id="" class="btn btn-success" type="submit" value="Agregar producto">
    <a name="" id="" class="btn btn-warning" href="{% url 'importaciones' %}" role="button">Cancelar</a>

</form>
